<table class="table mt-4 " style="text-align: center;">
  <thead>
    <tr>
      <th scope="col">Index</th>
      <th scope="col">Name</th>
      <th scope="col">Male</th>
      <th scope="col">Adress</th>
      
    </tr>
  </thead>
  <tbody>
 
    <tr>
      <th scope="row">1</th>
      <td>{{Infor.Ten}}</td>
      <td>{{Infor.Gioitinh}}</td>
      <td>{{Infor.Diachi }}</td>
    </tr>
    
  </tbody>
</table>