   <label> Username :</label><input id="username"><br>
    <label> Password :</label><input id="password"><br>
    <button onClick = "login()" class="btn btn-dark">Login</button>
<script>
    function login(){
        $.ajax({
            url :'/login',
            type : "POST",
            data :{
                username :$('#username').val(),
                password :$('#password').val()
            }
        }).then(data =>{
            Cookie.set('token',data.token);

        }).catch(error =>{
            console.log(error);
        })
    }
    function getCookie(cname) {
  let name = cname + "=";
  let decodedCookie = decodeURIComponent(document.cookie);
  let ca = decodedCookie.split(';');
  for(let i = 0; i <ca.length; i++) {
    let c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) {
      return c.substring(name.length, c.length);
    }
  }
  return "";
}
</script>
